DATABASE_URL=
SESSION_COOKIE_NAME=facturascompra_session
SESSION_TTL_HOURS=12
APP_BASE_URL=https://facturascompra.gecorp.cl
NETSUITE_SB_ACCOUNT=
NETSUITE_SB_CONSUMER_KEY=
NETSUITE_SB_CONSUMER_SECRET=
NETSUITE_SB_TOKEN_ID=
NETSUITE_SB_TOKEN_SECRET=
NETSUITE_SB_BASE_URL=
NETSUITE_PROD_ACCOUNT=
NETSUITE_PROD_CONSUMER_KEY=
NETSUITE_PROD_CONSUMER_SECRET=
NETSUITE_PROD_TOKEN_ID=
NETSUITE_PROD_TOKEN_SECRET=
NETSUITE_PROD_BASE_URL=
